
@{
    ViewBag.Title = "Mobiles";
}

<h2>Mobiles using ViewData</h2>
<ul>
    @foreach(string m in (List<string>)ViewData["MobileList"])
            {
                <li>@m</li>
            }
</ul>

