@model MVC_Application.Models.Customer

<h2>Customer Details for Order 10248</h2>

<p><b>Customer ID:</b> @Model.CustomerID</p>
<p><b>Company Name:</b> @Model.CompanyName</p>
<p><b>Contact Name:</b> @Model.ContactName</p>
<p><b>Country:</b> @Model.Country</p>
