@model IEnumerable<FirstMVC_Prj.Models.Department>
@{
    ViewBag.Title = "DepartmentList";
}

<h2>Department List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Department Id</th>
            <th>Department Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.Id</td>
                <td>@d.DeptName</td>
            </tr>
        }
    </tbody>
</table>

